@import 'global.css';
:root{
    --head-color:#673862;
    --blue-color:#264B91;
    --grey-text:rgba(0, 0, 0, 0.40);
    --white: white;
    --box-text-color:#4B5362;
    --grey-text2:#404040;
    --red-color:#C52620;
    --blue-color1:#264B9170;
    --gallary-background-color: #3D4655;
    --gallary-title-color:#22495F;
    --black-color-2:#252A34;
    --grey-color:#cbcbcb;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Nunito Sans", sans-serif; */
    font-family: "Nunito Sans";
}
body {
    overflow-x: hidden;
}


/* navbar */
.navbar .nav2 {
    display: none;
}
@media screen and (max-width:860px) {
    .navbar .nav1 {
        display: none;
    }

    .navbar .nav2 {
        display: block;
    }
}

.navbar {
    padding: 2rem;
    background-color: var(--white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar nav .logo,
.nav2 .logo {
    display: flex;
    gap: 0.5rem;
    justify-content: space-around;
    align-items: center;
}
.navbar nav .logo h1,
.nav2 .logo h1 {
    font-family: Times New Roman;
    font-size: 16px;
    font-weight: 400;
}
.navbar nav .sec ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}
.navbar nav .sec ul li a,
#sidebar-sec ul li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.4);
}
#sidebar-sec ul li a {
    color: var(--white);
    width: 100%;

}
.navbar nav .donate button {
    border-radius: 2rem;
    padding: 0.5rem 1.5rem;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.02em;
    text-align: left;
color: rgba(38, 75, 145, 1);
border: 2px solid rgba(38, 75, 145, 1);
background-color: transparent;
}
.nav2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.navbar #sidebar-sec ul li {
    list-style: none;
    background-color: #22262f;
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar #sidebar-sec .donateb{
    width: 100%;border-radius: 23px;padding: 0.5rem;
}
.navbar #sidebar-sec {
    width: 90%;
    text-align: center;
    position: absolute;
    bottom: -18rem;
}
@media screen and (max-width:650px) {
    .navbar #sidebar-sec ul{
        padding-left: 0rem;
    }
}
@media screen and (max-width:500px) {
    .navbar #sidebar-sec{
        left: 1.5rem;
    }
}


.GalleryConatiner1{
    width: 100%;
    height: 15rem;
background-color: var(--blog-background-color);
display: flex;
justify-content: flex-start;
align-items: center;
padding-left: 7rem;
}
.title .para1{
    color: var(--white);
    font-size: 48px;
    font-weight: 700;
}
.title .para2{
    color: var(--white);
    font-size: 18px;
}
.para2 span {
    color: var(--red-color);
}
.title{
    display: flex;
    flex-direction: column;    
}

.GalleryConatiner2{
    padding: 2rem 5rem;
    margin-top: 3rem;

}
.gallery2-para1{
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 700;
    color: var(--gallary-title-color);
}
.gallery2-para1 span{
    color:var(--blue-color);
}
.gallary{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.Styleline{
    width: 72px;
    height: 0px;
    border: 2px var(--blue-color) solid
}
.gallery2-para2{
    font-size: 36px;
    font-weight: 700;
    color: var(--black-color-2);
    width: 80%;
}
.gallery2-para2 span{
    color: var(--red-color);
}
.gallery2-para3{
    font-weight: 600;
    font-size: 26px;
    color: var(--gallary-background-color);
    width: 80%;
}
.cont11-row1{
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto auto auto;
}
.cont11-row1 img{
    width: 100%;
    height: 100%;
}
.cont11-row2{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
    margin-top: 1rem;
}
.cont11-row2 img{
    width: 100%;
    height: 100%;
}
.GalleryConatiner3{
    padding: 3rem 5rem;
}

.pagination{
    width: max-content;
	/* float: left; */
	text-align: center;
    border: 2px solid var(--grey-color);
    border-radius: 5px;
}
.paginationBtn{
    display: flex;
    justify-content: center;
}
.pagination div{
	display: inline-block;
	margin:0 15px;
}
.page-button {
    display: inline-block;
    margin: 0 5px;
    padding: 18px 15px;
    cursor: pointer;
    font-size: 22px;
    font-weight: 400;
    color: #898989;
}

.page-button.active {
    border: 2px solid var(--blue-color);
    border-radius: 4px;
    color: var(--blue-color);
}
    /* .pagination .prev i,
    .pagination .next i {
        margin-right: 5px; 
    } */
.page-button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.prev, .next {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;    
}

.prev.disabled,
.next.disabled {
    opacity: 0.5;
    cursor: not-allowed;
} 
.gallary1{
    margin-bottom: -1rem;
}
.gallary2{
    margin-bottom: -4rem;
}
.gallary3{
    margin-bottom: -1rem;
    margin-top: 3rem;
}
.gallary4{
    margin-bottom: 6rem;
    margin-top: 0rem;
}

/* .page-button {
    display: inline-block;
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.page-button.active {
    border-color: var(--blue-color);
    border-radius: 4px;
}


*/
@media screen and (max-width: 1090px) {
    .GalleryConatiner3 {
        padding: 2rem 4rem;
    }
}
@media screen and (max-width: 1090px) {
    .GalleryConatiner2 {
        padding: 1rem 4rem;
    }
    .gallery2-para3 {
        font-size: 25px;
        width: 90%;
    }
    .gallery2-para2 {
        font-size: 34px;
        width: 90%;
    }
    .gallery2-para1 {
        font-size: 19px;
    }
    .GalleryConatiner3 {
        padding: 2rem 3rem;
    }
}

@media screen and (max-width: 840px) {
.GalleryConatiner2 {
    margin-top: 2rem;
    padding: 1rem 3rem;
}
.paginationBtn {
    margin-top: -1rem;
}
.GalleryConatiner3 {
    padding: 1rem 2rem;
}
.pagination div {
    margin: 0px 12px;
}
}
@media screen and (max-width: 840px) {
    .gallery2-para2 {
        font-size: 32px;
    }
    .gallery2-para1 {
        font-size: 17px;
    }
    .gallery2-para3 {
        font-size: 22px;
        width: 94%;
    }
    .GalleryConatiner1 {
        padding-left: 4rem;
}
.title .para2 {
    font-size: 16px;
}
title .para1 {
    font-size: 46px;
}
.GalleryConatiner1 {
    height: 13rem;
}
.pagination div {
    margin: 0px 8px;
}
.page-button {
    padding: 16px 14px;
    font-size: 20px;
}
}

@media screen and (max-width: 750px) {
    .cont11-row1 {
        display: grid;
        gap: 1rem;
        grid-template-columns: auto auto;
    }
    .cont11-row2 {
        display: grid;
        grid-template-columns: auto auto;
    }
    .GalleryConatiner3 {
        padding: 1rem 3rem;
    }
}
@media screen and (max-width: 750px) {
    .GalleryConatiner3 {
        padding: 1rem 2rem;
    }
    .pagination div {
        margin: 0px 5px;
    }
    .page-button {
        padding: 14px 12px;
        font-size: 18px;
    }
    .gallery2-para2 {
        font-size: 30px;
    }
    .gallery2-para3 {
        font-size: 20px;
        width: 94%;
    }
    .gallery2-para1 {
        font-size: 16px;
    }
    .cont11-row1 {
        gap: 12px;}
        .cont11-row2 {
            gap: 12px;
        }
        .title .para1 {
            font-size: 46px;
        }
        .title .para2 {
            font-size: 15px;
        }
        .GalleryConatiner1 {
            height: 12rem;
        }
        .GalleryConatiner2 {
            margin-top: 1rem;
            padding: 1rem 2rem;
        }
}
@media screen and (max-width: 525px) {
    .gallery2-para2 {
        width: 97%;
        font-size: 28px;
    }
    .gallery2-para3 {
        font-size: 19px;}
    .GalleryConatiner3 {
            padding: 1rem 1rem;
        }
}
@media screen and (max-width: 465px) {
.pagination div {
    margin: 0px 2px;
}
.page-button {
    padding: 12px 11px;
    font-size: 16px;
}
}

@media screen and (max-width: 410px) {
    .gallery2-para2 {
        width: 100%;
        font-size: 23px;
        margin-top: 6px;
    }   
    .gallery2-para3 {
        font-size: 18px;
        margin-top: 7px;
        width: 100%;

    }
    .gallery2-para1 {
        font-size: 14px;
    }
    .GalleryConatiner1 {
        height: 11rem;
    }.title .para1 {
        font-size: 40px;
    }
    .title .para2 {
        font-size: 13px;
    }
    .GalleryConatiner1 {
        padding-left: 2rem;
    }

}
@media screen and (max-width: 320px) {
.pagination div {
    margin: 0px 0px;
}
.page-button {
    padding: 10px 10px;
    font-size: 14px;
}
.Styleline {
    width: 50px;
    border: 1px var(--blue-color) solid;
}
.gallery2-para2 {
    font-size: 21px;
}
.gallery2-para3 {
    font-size: 16px;}
    .gallery2-para1 {
        font-size: 12px;
    }
}
@media screen and (max-width: 250px) {
    .gallery2-para2 {
        font-size: 18px;
    }
    .gallery2-para3 {
        font-size: 14px;
        margin-top: 5px;
    }
    .gallery2-para1 {
        font-size: 10px;
    }
    .cont11-row1 {
        gap: 8px;
    }
    .cont11-row2 {
        gap: 8px;
        margin-top: 8px;
    }
}


/* Footer */
.footer {
    background-color: #22262f;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 4.3rem;
    color: white;
    padding: 3rem 4.2rem;
}
.footer .ktc .one .ktc-logo {
    display: flex;
    align-items: self-end;
    gap: 0.7rem;
}
.footer .ktc .one .ktc-logo h4 {
    font-family: Times New Roman;
    font-size: 16px;
    font-weight: 400;
}
.footer .ktc .one p,
.footer-pvt {
    font-size: 14px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.6);
}
.footer .ktc .one h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(255, 255, 255, 1);
}
.footer .ktc .one .subscribe {
    display: flex;
    margin-bottom: 0.6rem;
}
.footer .ktc .one .subscribe input {
    padding: 0.5rem 2rem 0.5rem 1rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-color: transparent;
}
.footer .ktc .one .subscribe button {
    border-color: transparent;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    background-color: var(--red-color);
    color: var(--white);
}
.footer .ktc .one .logo {
    display: flex;
    gap: 1rem;
}
.footer .ktc .one .logo i {
    background-color: var(--white);
    color: var(--red-color);
    border-radius: 50%;
    font-size: 20px;
    padding: 0.8rem;
}
.footer-pvt {
    display: grid;
    place-items: center;
    background-color: var(--background-color);
}
.footer-pvt p {
    color: gray;
    border-top: 1.5px solid var(--grey-text2);
    width: 97%;
    text-align: center;
    padding: 1rem 1rem 0rem 1rem;
}
.footer .ktc .one a{
    text-decoration: none;
}
@media screen and (max-width:1000px) {
    .footer{
        display: grid;
        grid-template-columns: auto auto;
        padding: 3rem 2rem;
        gap: 4.5rem;
    }
   
}
@media screen and (max-width:650px) {
    .footer{
        display: grid;
        grid-template-columns: auto;
        padding: 3rem 1.5rem;
    }
}
@media screen and (max-width:400px) {
    .footer .ktc .one .subscribe button {
        padding: 0.5rem;
    }
    .footer .ktc .one .subscribe input{
        padding: 0.5rem 0rem 0.5rem 0.5rem; 
}
}
@media screen and (max-width:320px) {
    .footer .ktc .one .subscribe button {
        padding: 0.1rem;
    }
    .footer .ktc .one .subscribe input{
        padding: 0.5rem 0rem 0.5rem 0rem; 
}  
.footer{
    padding: 3rem 0.8rem;
}
}
.para2 a{
    color: var(--white);
    text-decoration: none;
}