:root{
    --head-color:#673862;
    --blue-color:#264B91;
    --grey-text:rgba(0, 0, 0, 0.40);
    --white: white;
    --box-text-color:#4B5362;
    --grey-text2:#404040;
    --red-color:#C52620;
    --blue-color1:#264B9170;
    --blog-background-color: #3D4655;
}